
    // font-family: 'IBM Plex Sans', sans-serif;
    // font-family: 'Source Sans Pro', sans-serif;

%source-fw4{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
%source-fw6{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
%plex-fw4{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
%plex-fw5{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    color: #23242D;
}
%plex-fw7{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
}